.contenedorCV {
    /*posición y forma del contenedor*/
    width: 75%;
    height: 75vh;
    box-shadow: 0px 0px 40px 16px rgba(137, 135, 135, 0.56);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;

    /*posición contenido*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.MenuNavBar {
    /*posicionamiento contenedor*/
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 44444;
    transform: translateY(-50%);
    padding-left: 30px;

    /*posicionamiento contenido*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcionesNavBar {
    padding-bottom: 15px;
    padding-right: 10px;
}


.contenedorHyF {
    width: 40%;
    padding: 20px;

}

.contenedorHeader {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

/* .contenedorImg {
    position: absolute;
  top: 0;
  left: 0;
}
 */
.imgPerfil {
    width: 80%;
    border-radius: 1%;


}

.contenedorDEFH {
    width: 50%;
    height: 80%;

}

.contenidoFormacion {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}