
.contenedorCV {
    /*posición y forma del contenedor*/
    width: 75%;
    height: 70vh;
    box-shadow: 0px 0px 40px 16px rgba(137,135,135,0.56);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255);
    background: linear-gradient(14deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.5) 96%);
    border-radius: 1%;
    /*posición contenido*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NavBar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcionesNavBar {
    padding-bottom: 15px;
    padding-right: 10px;
}

.contenedorHyF {
    width: 40%;
    padding: 20px;
}

.contenedorDEFH {
    width: 50%;
    height: 80%;
   
}

.contenidoFormacion {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

