/* PALETA DE COLORES
Color de fondo #323232;
Fuente naranja #ff9800
Fuente blanca #EEE5E9
*/

/* Titulo principal NUNITO 
título secundario BEBAS NEUE
textos MONTSERRAT*/


.contenedorCV {
    /*posición y forma del contenedor*/
    width: 80%;
    height: 90vh;
    /* box-shadow: 0px 0px 40px 16px rgba(137, 135, 135, 0.56); */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;

    /*posición contenido*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    /*decoración contenido*/
    background-color: #323232;
}

/*BARRA DE NAVEGACIÓN*/
.MenuNavBar {
    /*posicionamiento contenedor*/
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 44444;
    transform: translateY(-50%);
    padding-left: 30px;

    /*posicionamiento contenido*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcionesNavBar {
    padding-bottom: 15px;
    padding-right: 10px;
}

.opcionesNavBar :hover {
    transform: scale(1.1);
    transition: .3s;
}

/*INFORMACIÓN DE PERFIL*/

.contenedorHeaderyFooter {
    /*dimensiones contenedor*/
    width: 40%;
    height: 90vh;

    /*posicionamiento contenido*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(50, 50, 50);
    background: linear-gradient(270deg, rgba(50, 50, 50, 1) 0%, rgba(36, 36, 36, 1) 100%);
}

.contenedorHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPerfil {
    width: 65%;
    border-radius: 50%;
}

.contenedorNombre {
    text-align: center;
    padding-top: 20px;
}

.contenedorNombre h2 {
    color: #EEE5E9;
}

.contenedorFooter {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorFooter svg {
    color: #EEE5E9;
}

.contenedorFooter svg:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.contenedorDescripcion {
    color: #ff9800;
    text-align: center;

}

.contenedorDescripcion h4 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 0.15em solid #ff9800;
    animation: typing 1.5s steps(38) 0.5s 1 normal both, blink 1s steps(1) infinite;
}

/* .contenedorDescripcion h4 .desarrolladorFE{
    animation: typing 1.5s steps(38) 0.5s 1 normal both, blink 1s steps(1) infinite;
} */




.contenedorDescargaCV {
    padding-top: 10px;
}

.contenedorDEFH {
    width: 55%;
    height: 80%;

}

.contenedorSobreMi {
    /*Dimensiones del contenedor*/
    width: 95%;
    height: 100%;

    /*Disposición del contenido*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.contenedorSobreMi .card-header {
    color: #ff9800;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    animation: fadeInAndMoveUp 2s forwards;
    opacity: 0;
    /* Definimos la opacidad inicial en 0 para que la caja esté oculta al principio */
}

.contenidoSobreMi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EEE5E9;
}

.biografia {
    width: 50%;
}

.biografia .card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.datosPerfil {
    /*Dimensiones del contenedor*/
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.datosPerfil p {
    border-bottom: 2px;
    border-bottom-color: #ff9800;
    border-bottom-style: solid;
    padding-right: 10px;


    /*disposición del contenido*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.datosPerfil p span {
    background-color: #ff9800;
    font-weight: 900;
    padding: 3px;
    font-size: 14px;

}

.contenedorFormacion {
    width: 90%;
    height: 100%;
    /*Disposición del contenido*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedorFormacion .card-header {
    color: #ff9800;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    animation: fadeInAndMoveUp 2s forwards;
    opacity: 0;
}

.contenidoFormacion {
    background-color: #EEE5E9;
}

.contenidoFormacion .card-title {
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.contenidoFormacion .card-title span {
    background-color: #ff9800;
    padding: 5px;
    border-radius: 5px;
}

.contenidoFormacion ul li {
    list-style: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.dividerCard {
    width: 100%;
    height: 5px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.dividerBar {
    height: 100%;
    width: 0%;
    /* Comienza sin llenado */
    background-color: #323232;
    /* Color de la barra de progreso */
    position: absolute;
    top: 0;
    left: 0;
    /* Animación */
    animation: fillBar 3s ease-in-out forwards;
    /* Puedes cambiar la duración a lo que necesites */
}

@keyframes fillBar {
    to {
        width: 100%;
        /* Llena completamente el div */
    }
}


.contenedorHabilidades {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.contenedorHabilidades .card-header {
    color: #ff9800;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    animation: fadeInAndMoveUp 2s forwards;
    opacity: 0;
}

.contenedorHabilidades .contenidoSkills {
    background-color: #EEE5E9;
}

.contenedorHabilidades .contenidoSkills .listSkills {
    list-style: none;
    text-align: left;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.contenedorHabilidades .contenidoSkills .listSkills .skillItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contenedorHabilidades .contenidoSkills .listSkills li .skillText {
    width: 20%;
    padding-left: 10px;
    text-align: left;
}

.contenedorHabilidades .contenidoSkills .listSkills li .skillLevel {
    width: 70%;
    height: 10px;

    animation: loadBar 2s forwards;
    /* Aplica la animación. Aquí 2s es la duración, puedes ajustarla. */
}

@keyframes loadBar {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
        /* Esto es según el ancho que ya tenías definido para .skillLevel */
    }
}

.levelRedaccion {
    height: 10px;
    width: 0%;
    /* Comienza sin llenado */
    background-color: #ff9800;
    /* Color de la barra de progreso */
    top: 0;
    left: 0;
    /* Animación */
    animation: levelBarRedaccion 3s 1.8s ease-in-out forwards;
}

@keyframes levelBarRedaccion {
    to {
        width: 90%;
        /* Llena completamente el div */
    }
}

.levelEdicion {
    height: 10px;
    width: 0%;
    /* Comienza sin llenado */
    background-color: #ff9800;
    /* Color de la barra de progreso */
    top: 0;
    left: 0;
    /* Animación */
    animation: levelBarEdicion 3s 2.3s ease-in-out forwards;
}

@keyframes levelBarEdicion {
    to {
        width: 80%;
        /* Llena completamente el div */
    }
}

.levelHtml {
    height: 10px;
    width: 0%;
    /* Comienza sin llenado */
    background-color: #ff9800;
    /* Color de la barra de progreso */
    top: 0;
    left: 0;
    /* Animación */
    animation: levelBarHtml 3s 2s ease-in-out forwards;
}

@keyframes levelBarHtml {
    to {
        width: 87%;
        /* Llena completamente el div */
    }
}

.levelCss {
    height: 10px;
    width: 0%;
    /* Comienza sin llenado */
    background-color: #ff9800;
    /* Color de la barra de progreso */
    top: 0;
    left: 0;
    /* Animación */
    animation: levelBarCss 3s 2.1s ease-in-out forwards;
}

@keyframes levelBarCss {
    to {
        width: 78%;
        /* Llena completamente el div */
    }
}

.levelJS {
    height: 10px;
    width: 0%;
    /* Comienza sin llenado */
    background-color: #ff9800;
    /* Color de la barra de progreso */
    top: 0;
    left: 0;
    /* Animación */
    animation: levelBarJs 3s 2.4s ease-in-out forwards;
}

@keyframes levelBarJs {
    to {
        width: 69%;
        /* Llena completamente el div */
    }
}

.levelReact {
    height: 10px;
    width: 0%;
    /* Comienza sin llenado */
    background-color: #ff9800;
    /* Color de la barra de progreso */
    top: 0;
    left: 0;
    /* Animación */
    animation: levelReact 3s 2.5s ease-in-out forwards;
}

@keyframes levelReact {
    to {
        width: 63%;
        /* Llena completamente el div */
    }
}



.contenedorExperiencia {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorExperiencia .card .card-header {
    color: #ff9800;
}

.contenedorDocencia {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorDocencia .card .card-header {
    color: #ff9800;
}

/* ANIMACIONES  */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes fadeInAndMoveUp {
    0% {
        opacity: 0;
        transform: translateX(20px);
        /* Aquí empezará un poco más a la derecha y se moverá a su posición original */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}